{% extends "todolistapp/parent.html" %}

{% block titleblock %}
    <title>Harsh's Website</title>
{% endblock %}
{% block headingblock %}
    <h1>ToDoList App</h1><br>
{% endblock %}
{% block contentblock %}
    <h1>{{List}}</h1>
    <form method="post" action="#">
        {% csrf_token %}
        <ul>
            {% for item in List.item_set.all %}
                {% if item.completed %}
                    <li><input type="checkbox" value="clicked" name="c{{item.id}}" checked>{{item.name}}</li>
                {% else %}
                    <li><input type="checkbox" value="clicked" name="c{{item.id}}">{{item.name}}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <button type="submit" name="save" value="pressed">Save Tasks</button>
        <input type="text" name="new">
        <button type="submit" name="newitem" value="pressed">New Item</button>
    </form>

{% endblock %}