<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block titleblock %}
    <title>Harsh's Website</title>
    {% endblock %}
</head>
<body>
{% block headingblock %}
<h1>ToDoList App</h1><br>

{% endblock %}
{% block contentblock %}
    <h1>{{List}}</h1>
    <form method="post" action="#">
        {% csrf_token %}
        <ul>
            {% for item in List.item_set.all %}
                {% if not item.completed %}
                    <li><input type="checkbox" value="clicked" name="c{{item.id}}" checked>{{item.name}}</li>
                {% else %}
                    <li><input type="checkbox" value="clicked" name="c{{item.id}}">{{item.name}}</li>
                {% endif %}
            {% endfor %}
        </ul>
        <button type="submit" name="save">Save Tasks</button><br>
        <input type="text" name="new"><br>
        <button type="submit" name="newitem">New Item</button>
    </form>

{% endblock %}
</body>
</html>