{% extends "todolistapp/parent.html" %}
{% block titleblock %}
    <title> New ToDoList </title>
{% endblock %}
{% block headingblock %}
    <h1>Create a new ToDoList</h1>
{% endblock %}
{% block contentblock %}
<form method="post" action="/create/">
    {% csrf_token %}
    <div class="input-group">
        <div class="input-group-prepend">
            <button type="submit" name="save" class="btn btn-success">Create List</button>

        </div>
        {{form.name}}
    </div>
</form>
{% endblock %}

